@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.system-form{
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
}

.notes{
  width: 200px;
}

.note{
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.item {
  display: flex;
  justify-content: space-between;
}

.icon{
  //background: url("http://s1.iconbird.com/ico/2013/10/464/w512h5121380984608delete.png");
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 1rem;
}

.div-border {
  border-radius: 1.5rem;
  border: 1px solid black;
  margin: 1rem;
  height: auto;
  width: 800px;
  text-align: center;
}

.div-margin-1 {
  margin: 1rem;
}

.div-margin-2 {
  margin: 20px;
}

.div-margin-3 {
  margin: 5px;
}

.div-margin-4 {
  margin: 2px;
}

button {
  margin: 5px;
}

.border-radius-btn button {
  border-radius: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  size: 15px;
  font-size: 20px;
  text-align: center;
}

.menu{
  height: 40px;
  width: 80px;
  margin-left: -20px;
}

.menu-btn {
  background-color: white;
  //display: inline;
  width: 80px;
  border: none;
}

.img {
  border-radius: 1rem;
  width: 40px;
  height: 40px;
}

.form-margin-left {
  margin-left: 2rem;
}

.form-margin-left-1 {
  margin-left: 1rem;
}

.line-middle {
  position: relative;
  top: -20px;
  left: 10px;
  border: 2px solid black;
  width: 0px;
  height: 85px;
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-45deg);
}

.aside-margin-left {
  margin-left: -10px;
}

.aside {
  //border: 1px gray ridge;
  //display: inline-flex;
  max-height: 100px;
  width: 80px;
  margin-top: 10px;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

#result div{
  margin: 10px 1rem 10px 1rem ;
  text-align: center;
}

#program div{
  width: 300px;
  text-align: center;
  background-color: beige;
  border-radius: 1rem;
  font-family: 'Roboto Thin';
  font-size: 20px;
  font-weight: bold;
}

.box-border{
  border: 1px gray dotted;
  width: 60px;
  height: 60px;
  margin: 0px;
}

.icon-h {
  width: 30px;
  height: 30px;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.td-img{
    width: 60px;
    height: 60px;
    margin: 0;
}

.block {
  background: black;
  margin: 0px;
  padding: 20px;
  position: relative;
  color: #fff;
  display: inline-table;
}
.block::after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  left: 20px; bottom: -20px; /* Положение треугольника */
  border: 10px solid transparent; /* Прозрачные границы */
  border-top: 10px solid green; /* Добавляем треугольник */
}

.right-col{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  width: auto;
}

// ===== style for angle ==========

//leftUp to rightDown + color

.triangle-45-green{
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-bottom: 59px solid green;
  border-left: 0px solid transparent;
}

.triangle-45-red{
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-bottom: 59px solid red;
  border-left: 0px solid transparent;
}

.triangle-45-yellow{
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-bottom: 59px solid yellow;
  border-left: 0px solid transparent;
}


