@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.system-form{
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
}

.notes{
  width: 200px;
}

.note{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.item {
  display: flex;
  justify-content: space-between;
}

.icon-ellipse{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Ellipse_black.svg/1200px-Ellipse_black.svg.png");
}

.icon{
  //background: url("http://s1.iconbird.com/ico/2013/10/464/w512h5121380984608delete.png");
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 1rem;
}

.div-border-ex {
  border-radius: 1.5rem;
  border: 1px solid black;
  margin: 1rem;
  height: auto;
  width: auto;
  text-align: center;
}

.div-border {
  border-radius: 1.5rem;
  border: 1px solid black;
  margin: 1rem;
  height: 500px;
  width: auto;
  text-align: center;
}

.div-margin-1 {
  margin: 1rem;
}

.div-margin-2 {
  margin: 20px;
}

.div-margin-3 {
  margin: 5px;
}

.div-margin-4 {
  margin: 2px;
}

button {
  margin: 5px;
}

.border-radius-btn button {
  border-radius: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  size: 15px;
  font-size: 20px;
  text-align: center;
}

.menu{
  height: 40px;
  width: 80px;
  margin-left: -20px;
}

.menu-btn {
  background-color: white;
  //display: inline;
  width: 80px;
  border: none;
}

.img {
  border-radius: 1rem;
  width: 40px;
  height: 40px;
}

.form-margin-left {
  margin-left: 2rem;
}

.form-margin-left-1 {
  margin-left: 1rem;
}

.line-middle {
  position: relative;
  top: -20px;
  left: 10px;
  border: 2px solid black;
  width: 0px;
  height: 85px;
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-45deg);
}

.aside-margin-left {
  margin-left: -10px;
}

.aside {
  //border: 1px gray ridge;
  //display: inline-flex;
  max-height: 100px;
  width: 80px;
  margin-top: 10px;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

#result div{
  margin: 10px 1rem 10px 1rem ;
  text-align: center;
}

#program div{
  width: 300px;
  text-align: center;
  background-color: beige;
  border-radius: 1rem;
  font-family: 'Roboto Thin';
  font-size: 20px;
  font-weight: bold;
}

.border_gray{border: 1px gray dotted;}

.box-border{
  width: 60px;
  height: 60px;
  margin: 0px;
}

.border_red_current{
  border: 1px dashed red;
}

.icon-h {
  width: 30px;
  height: 30px;
}

.td-img{
    width: 60px;
    height: 60px;
    margin: 0;
}

.block {
  background: black;
  margin: 0px;
  padding: 20px;
  position: relative;
  color: #fff;
  display: inline-table;
}

.block::after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  left: 20px; bottom: -20px; /* Положение треугольника */
  border: 10px solid transparent; /* Прозрачные границы */
  border-top: 10px solid green; /* Добавляем треугольник */
}

hr {
  border: 1px solid black;
  border-radius: 2px;
}

li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  width: auto;
}

.right-col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: auto;
}

.right-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  width: auto;
}

.cross_close{
  width: 10px;
  height: 10px;
  display: flow;
  border: none;
  background: none;
}

// ===== style for angle ==========

//leftUp to rightDown + color

// color angle 45 и 225


.hr-45, .hr-225{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 81px;
  margin-left: -12px;
  margin-top: 27px;
}

.hr-315, .hr-135{
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  width: 81px;
  margin-left: -12px;
  margin-top: 27px;
}

.hr-color{
  margin-left: -72px;
}

.hr{

}

.hr-90{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  margin-left: -1px;
  width: 59px;
  margin-top: 59px;
}

.hr-270 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  margin-left: -1px;
  width: 59px;
  margin-top: 0;
}

.hr-180 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  margin-left: -30px;
  width: 58px;
  margin-top: 28px;
}

.hr-0 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  margin-left: 30px;
  width: 58px;
  margin-top: 28px;
}

.ellipse{
  border-radius: 50%;
  border: 1px solid black;
}

//=================================================  Зависимость от цвета =================================================

.ellipse-green{
  border-radius: 50%;
  border: 1px solid black;
  background: green;
}

.ellipse-red{
  border-radius: 50%;
  border: 1px solid black;
  background: red;
}

.ellipse-yellow{
  border-radius: 50%;
  border: 1px solid black;
  background: yellow;
}

.ellipse-pink{
  border-radius: 50%;
  border: 1px solid black;
  background: #d271f5;
}

.ellipse-blue{
  border-radius: 50%;
  border: 1px solid black;
  background: #3c2deb;
}

.blue{
  background-color: #3c2deb;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.pink{
  background-color: #d271f5;
}

.triangle-45-green, .triangle-225-green{
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-bottom: 59px solid green;
  border-left: 0px solid transparent;
}

.triangle-45-blue, .triangle-225-blue{
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-bottom: 59px solid #3c2deb;
  border-left: 0px solid transparent;
}

.triangle-45-pink, .triangle-225-pink{
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-bottom: 59px solid #d271f5;
  border-left: 0px solid transparent;
}

.triangle-45-red, .triangle-225-red{
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-bottom: 59px solid red;
  border-left: 0px solid transparent;
}

.triangle-45-yellow, .triangle-225-yellow{
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-bottom: 59px solid yellow;
  border-left: 0px solid transparent;
}

// color angle 135 315

.triangle-135-green, .triangle-315-green{
  height: 0;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 60px solid green;
}

.triangle-135-blue, .triangle-315-blue{
  height: 0;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 60px solid #3c2deb;
}


.triangle-135-pink, .triangle-315-pink{
  height: 0;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 60px solid #d271f5;
}

.triangle-135-red, .triangle-315-red{
  height: 0;
  width: 0;
  border-right: 0 solid transparent;
  border-bottom: 60px solid red;
  border-left: 60px solid transparent;
}

.triangle-135-yellow, .triangle-315-yellow{
  height: 0;
  width: 0;
  border-right: 0 solid transparent;
  border-bottom: 60px solid yellow;
  border-left: 60px solid transparent;
}



